<app-nav-bar-admin></app-nav-bar-admin>
<div class="page-title-area item-bg4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Admin page</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Projet Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<h3>Project</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">uuid</th>
            <th scope="col">name Project</th>
            <th scope="col">Descriptif Project</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let dataProjects of dataProject">
            <th scope="row" (click)="GoToProject(this.dataProjects.uuid_project)"> {{this.dataProjects.uuid_project}} </th>
            <td> {{this.dataProjects.name_project}} </td>
            <td> {{this.dataProjects.descriptif_project}} </td>
        </tr>
    </tbody>
</table>
<br>
<br>
<h3>Email</h3>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">uuid</th>

        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">subject</th>
        <th scope="col">phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataEmails of dataEmail">
        <th scope="row"> {{this.dataEmails.uuid}} </th>
        <td> {{this.dataEmails.name}} </td>
        <td> <a href="mailto:{{this.dataEmails.email}}">{{this.dataEmails.email}}</a> </td>
        <td> {{this.dataEmails.subject}} </td>
        <td> {{this.dataEmails.phone}} </td>
    </tr>
    </tbody>
</table>
<br><br>

