<div class="page-title-area item-bg3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Services Details</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Services Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div *ngFor="let datas of data" class="services-details-overview">
            <div *ngIf="datas.left == false">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="services-details-desc">
                            <h3>{{this.datas.title}}</h3>
                            <p>{{this.datas.describe}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="image-sliders owl-carousel owl-theme">
                            <div class="services-details-image">
                                <img [src]="this.datas.image" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="datas.left == true">
                <div  class="services-details-overview">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="image-sliders owl-carousel owl-theme">
                                <div class="services-details-image">
                                    <img [src]="this.datas.image" alt="image">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="services-details-desc">
                                <h3>{{this.datas.title}}</h3>
                                <p>{{this.datas.describe}}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
