
<!-- <div class="main-banner-four"> -->
    <!-- <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="main-banner-content">
                            <h1>Connexion page</h1>

                        </div>


                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="banner-image">
                            <img src="assets/img/home-four/DALL·E 2023-03-30 15.53.41 - Dans le theme data analyst des images d'equipe developpeur d'application web .png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- <div class="creative-shape" style="border: 1px solid red!important; height:250px!important">
        <img src="assets/img/main-banner-shape/home-shape-4.png" alt="main-image">
    </div> -->

    <!-- <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

</div> -->


<section class="tab-section ptb-100">
    <div class="container">
        <div class="tab solutions-list-tab">
            <ul class="tabs">
                <li><a href="#"><span>Connection</span></a></li>
                <li><a href="#"><span>Inscription</span></a></li>
            </ul>
            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="tab-solution-content">
                                <div class="col-lg-12 col-md-12">
                                    <div class="contact-form">
                                        <h3>Connexion</h3>
                                        <form [formGroup]="connexionUser" id="contactForm">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <input type="email" name="email" id="email" class="form-control" formControlName="email" placeholder="ex: youremail@email.com">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <input type="password" name="password" id="password" class="form-control" formControlName="password" placeholder="Password">
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12">
                                                    <button (click)="connexion()" type="submit" [className]="this.connexionUser.valid ? 'submit-btn' : 'submit-btn-notValid' " [disabled]="!this.connexionUser.valid">Connexion</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>SEO (Search Engine Origin) Solution</h3>
                                <p>
                                    Le SEO est une stratégie clé pour améliorer la visibilité et l'acquisition d'utilisateurs pour votre application dès sa création, ce qui peut avoir un impact significatif sur sa croissance et son succès à long terme.
                                </p>
                                <ul class="tab-list">
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Visibilité en ligne : le SEO permet de mieux positionner votre application dans les résultats de recherche des moteurs de recherche, ce qui permet de la rendre plus visible auprès des utilisateurs et d'attirer un trafic plus qualifié
                                </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Acquisition de nouveaux utilisateurs : en étant mieux positionnée dans les résultats de recherche, votre application sera plus facilement trouvée par de nouveaux utilisateurs, qui pourront la découvrir et l'essayer.
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Meilleure expérience utilisateur : le SEO permet d'optimiser le contenu de votre application pour les utilisateurs, en mettant en avant les fonctionnalités les plus importantes et en les rendant plus accessibles.
                                        </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Read More <span></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
