<base href="/">
<app-navbar></app-navbar>


<div class="main-banner-four">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="main-banner-content">
                            <h1>Creation d'application web</h1>
                            <p>La création d'une application web moderne implique l'utilisation des dernières technologies pour assurer la sécurité, l'expérience utilisateur et la scalabilité. Nous pouvons vous aider à créer une application web de qualité professionnelle qui répondra à vos besoins spécifiques.</p>
                            <div class="banner-btn">
                                <a routerLink="/about" class="default-btn-one">About Us <span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!-- <div class="banner-image">
                            <img src="assets/img/home-four/DALL·E 2023-03-30 15.53.41 - Dans le theme data analyst des images d'equipe developpeur d'application web .png" alt="image">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="creative-shape">
        <img src="assets/img/main-banner-shape/home-shape-4.png" alt="main-image">
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<section class="services-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Services</span>
            <h3>Voir les services</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let datas of data">
                    <div class="single-services-box">
                        <div class="icon">
                            <i [class]="this.datas.icone"></i>
                        </div>
                        <h3>
                            {{this.datas.title}}
                        </h3>
                        <p>
                            {{this.datas.describe}}
                        </p>
                        <div class="services-btn">
                            <a routerLink="/services-details" class="services-btn-one">Read More <i class="flaticon-right"></i></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>


<section class="fun-facts-area ptb-100">
    <div class="container">
        <!-- <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="820">00</span>
                        <span class="sign-icon">+</span>
                    </h3>
                    <p>Data Analytics</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="150">00</span>
                        <span class="sign-icon">+</span>
                    </h3>
                    <p>Data Management</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="20">00</span>
                        <span class="sign-icon">+</span>
                    </h3>
                    <p>Managed  Analytics</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="120">00</span>
                        <span class="sign-icon">+</span>
                    </h3>
                    <p>Big Data</p>
                </div>
            </div>
        </div> -->
    </div>
</section>

<section class="tab-section ptb-100">
    <div class="container">
        <div class="tab solutions-list-tab">
            <ul class="tabs">
                <li><a href="#"><span>Research & Solution</span></a></li>
                <li><a href="#"><span>SEO & Strategy</span></a></li>
                <li><a href="#"><span>Application Web</span></a></li>
                <li><a href="#"><span>API REST</span></a></li>
            </ul>
            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Enterprise AI & Data Platform Solutions</h3>
                                <p>
                                    Nous devons comprendre vos besoins et vos attentes vis-à-vis de l'application. Pour cela, nous pouvons organiser des enquêtes ou des sondages pour collecter vos feedbacks et comprendre les fonctionnalités que vous aimeriez avoir ou celles qui ne sont pas satisfaisantes pour vous.
                                </p>
                                <ul class="tab-list">
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Nous allons analyser les données d'utilisation de l'application pour identifier les points de friction et les fonctionnalités les plus et moins utilisées. En utilisant ces données, nous pourrons identifier les aspects de l'application qui ont besoin d'améliorations et ainsi proposer des solutions qui répondent à vos besoins spécifiques.
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Nous proposerons des solutions innovantes pour améliorer l'expérience utilisateur de l'application. Cela peut inclure des changements dans la conception de l'interface utilisateur, l'ajout de fonctionnalités, la simplification du processus de commande, ou toute autre modification qui peut répondre à vos besoins.
                                        </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Nous testerons les solutions proposées auprès des clients pour nous assurer qu'elles répondent bien à vos attentes et qu'elles améliorent votre expérience utilisateur. Les résultats de ces tests nous permettront également d'identifier les domaines qui nécessitent encore des améliorations et de continuer à affiner les solutions proposées.
                                    </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Read More <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-image">
                                <img src="assets/img/schemaData.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>SEO (Search Engine Origin) Solution</h3>
                                <p>
                                    Le SEO est une stratégie clé pour améliorer la visibilité et l'acquisition d'utilisateurs pour votre application dès sa création, ce qui peut avoir un impact significatif sur sa croissance et son succès à long terme.
                                </p>
                                <ul class="tab-list">
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Visibilité en ligne : le SEO permet de mieux positionner votre application dans les résultats de recherche des moteurs de recherche, ce qui permet de la rendre plus visible auprès des utilisateurs et d'attirer un trafic plus qualifié
                                </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Acquisition de nouveaux utilisateurs : en étant mieux positionnée dans les résultats de recherche, votre application sera plus facilement trouvée par de nouveaux utilisateurs, qui pourront la découvrir et l'essayer.
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Meilleure expérience utilisateur : le SEO permet d'optimiser le contenu de votre application pour les utilisateurs, en mettant en avant les fonctionnalités les plus importantes et en les rendant plus accessibles.
                                        </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Read More <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-image">
                                <img src="assets/img/schemaData.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Application Web</h3>
                                <p>
                                    Les applications web offrent une variété d'avantages par rapport aux sites web, notamment des fonctionnalités hors ligne, une expérience utilisateur améliorée, des notifications en temps réel, des mises à jour automatiques et une sécurité renforcée, entre autres.
                                </p>
                                <ul class="tab-list">
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Notifications en temps réel : les applications web peuvent envoyer des notifications en temps réel à l'utilisateur, l'informant des mises à jour importantes ou des événements pertinents.
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Gestion des données : les applications web peuvent stocker des données localement sur le périphérique de l'utilisateur, ce qui peut améliorer les temps de réponse et la fiabilité des données.
                                        </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Disponibilité multi-plateforme : les applications web peuvent être développées pour être compatibles avec une variété de plateformes, y compris les ordinateurs de bureau, les smartphones et les tablettes.
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Intégration avec d'autres applications : les applications web peuvent être conçues pour s'intégrer avec d'autres applications, permettant aux utilisateurs de partager facilement des données entre les applications.
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Sécurité renforcée : les applications web peuvent être conçues pour être plus sécurisées que les sites web, avec des mécanismes de protection contre les attaques et les vulnérabilités.
                                    </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Read More <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-image">
                                <img src="assets/img/schemaData.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>API REST</h3>
                                <p>
                                    Une API REST est un choix judicieux pour votre application web car elle offre une meilleure séparation des préoccupations, une meilleure sécurité, une meilleure évolutivité, une meilleure portabilité et une meilleure expérience utilisateur
                                </p>
                                <ul class="tab-list">
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Meilleure sécurité : en utilisant une API REST, vous pouvez mettre en place des contrôles d'accès et des autorisations granulaires pour vos données, ce qui rend votre application plus sécurisée que si vous communiquiez directement avec la base de données.
                                        </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Meilleure évolutivité : en utilisant une API REST, vous pouvez facilement ajouter de nouvelles fonctionnalités et de nouveaux endpoints pour prendre en charge de nouvelles fonctionnalités ou de nouveaux cas d'utilisation, sans avoir à modifier directement la base de données ou l'interface utilisateur.
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Meilleure portabilité : en utilisant une API REST, votre application est plus facilement portable vers d'autres plateformes ou architectures, car l'API REST peut être consommée par différentes applications et clients via des requêtes HTTP standard.
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>
                                        Meilleure expérience utilisateur : en utilisant une API REST, vous pouvez fournir une expérience utilisateur plus réactive et plus rapide, car les clients peuvent interroger l'API REST directement et ne sont pas obligés de charger des pages web entières à chaque requête.
                                    </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Read More <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-image">
                                <img src="assets/img/schemaData.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="software-section pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="software-content">
                    <h2>Developement Services</h2>
                    <p>
                        Les avantages apportés à une application avec les points clés mentionnés incluent une expérience utilisateur plus fluide et optimisée grâce à la création d'applications web natives, une intégration aisée avec d'autres applications tierces grâce à la création d'API, une personnalisation des fonctionnalités répondant aux besoins spécifiques des utilisateurs, un stockage efficace et structuré des données avec une base de données SQL ou NoSQL, une protection des données et la confidentialité des utilisateurs grâce à la sécurité des requêtes HTTP, et enfin une compatibilité avec les dernières technologies et les meilleures pratiques du marché grâce à une mise à jour régulière des applications web.
                    </p>
                    <ul class="features-list">
                        <li *ngFor="let dataServices of dataService">
                            <span>
                                {{ this.dataServices.title }}
                            </span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="software-image">
                    <img src="assets/img/software.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area ptb-100">
    <div class="container">

    </div>
</section>



<section class="productive-section pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="productive-content">
                    <span>Let’s Get Started</span>
                    <h3>Etes-vous prêt à passer à une application web dynamique ?</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices Lorem Ipsum is simply dummy text.</p> -->
                    <div class="productive-btn">
                        <a routerLink="/projects" class="productive-btn">Get Started Project<span></span></a>
                        <a routerLink="/contact" class="productive-btn-one">Contact With Us<span></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="productive-image">
                    <img src="assets/img/productive.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<br>

<div class="contact-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="contact-image">
                    <img src="assets/img/contact.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact-form">
                    <h3>Envoyer nous un message</h3>
                    <form [formGroup]="sendMessage" id="contactForm">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" formControlName="name" placeholder="Name">
                                </div>
                            </div>
                            <br>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" formControlName="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="phone_number" id="phone_number" formControlName="phone" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="msg_subject" id="msg_subject" formControlName="subject" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="6" formControlName="message" placeholder="Your Message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button (click)="sendEmail()" type="submit" [className]="this.sendMessage.valid ? 'submit-btn' : 'submit-btn-notValid' " [disabled]="!this.sendMessage.valid">Submit Now!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
