<app-navbar></app-navbar>

<div class="page-title-area item-bg4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Blog Details</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Projet Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 w-100">
                <div class="blog-details-desc">
                    <div class="article-content" *ngFor="let projectUsers of projectUser">
                        <h3>{{this.projectUsers.name_project}}</h3>
                        <p> {{this.projectUsers.descriptif_project}} </p>

                    </div>
                    <div class="comments-area">
                        <h3 class="comments-title">Comments:</h3>
                        <ol class="comment-list">
                            <li class="comment">
                                <ol class="children">
                                    <ol class="children" *ngFor="let commentProjects of commentProject">
                                        <li class="comment">
                                            <article class="comment-body">
                                                <footer class="comment-meta">
                                                    <div class="comment-author vcard">
                                                        <p> {{this.commentProjects.lenght}} </p>
                                                        <b class="fn"> {{this.commentProjects.name}} {{this.commentProjects.last_name}} </b>
                                                    </div>
                                                </footer>
                                                <div class="comment-content">
                                                    <p>{{this.commentProjects.commentaire}}</p>
                                                </div>
                                                <div class="reply">
                                                </div>
                                            </article>
                                        </li>
                                    </ol>
                                </ol>
                            </li>
                        </ol>
                        <div class="comment-respond">
                            <h3 class="comment-reply-title">Leave a Reply</h3>
                            <form class="comment-form" [formGroup]="formCommentaireProject">
                                <p class="comment-form-comment">
                                    <label>Comment</label>
                                    <textarea formControlName="commentaire" name="comment" id="comment" cols="45" rows="5" maxlength="65525" required="required"></textarea>
                                </p>
                                <p class="form-submit">
                                    <input (click)="SendCommentaireProjet()" [className]="this.formCommentaireProject.valid ? 'submit-btn' : 'submit-btn-notValid' " [disabled]="!this.formCommentaireProject.valid" type="submit" name="submit" id="submit" class="submit">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
