
.submit-btn-notValid {
    display: inline-block;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    color: #ffffff;
    padding: 12px 50px;
    font-size: 15px;
    font-weight: 400;
    transition: 0.5s;
}
